.color1 {
  color: #000400;
}
.color2 {
  color: #0c262c;
}
.color3 {
  color: #5f8e5b;
}
.color4 {
  color: #b8b08e;
}
.color5 {
  color: #e0e0cb;
}

.color1 {
  color: #001c16;
}
.color2 {
  color: #0c2c21;
}
.color3 {
  color: #3b594c;
}
.color4 {
  color: #7c9679;
}
.color5 {
  color: #c1cca0;
}
